.elementor-8
  .elementor-element.elementor-element-725fd11:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-8
  .elementor-element.elementor-element-725fd11
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0810A6;
}
.elementor-8 .elementor-element.elementor-element-725fd11 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 20px 0px 20px 0px;
}
.elementor-8
  .elementor-element.elementor-element-725fd11
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-8
  .elementor-element.elementor-element-7d4be2b1.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-8
  .elementor-element.elementor-element-7d4be2b1.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-8 .elementor-element.elementor-element-feca4c0 {
  text-align: left;
}
.elementor-8
  .elementor-element.elementor-element-feca4c0
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Sora", Sans-serif;
  font-size: 27px;
  font-weight: 900;
}
.elementor-8
  .elementor-element.elementor-element-feca4c0
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-8
  .elementor-element.elementor-element-ee87d20
  .elementor-menu-toggle {
  margin: 0 auto;
}
.elementor-8
  .elementor-element.elementor-element-ee87d20
  .elementor-nav-menu
  .elementor-item {
  font-family: "Sora", Sans-serif;
  font-size: 13px;
  font-weight: 600;
}
.elementor-8
  .elementor-element.elementor-element-ee87d20
  .elementor-nav-menu--main
  .elementor-item {
  color: #ffffff;
  fill: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
}
.elementor-8
  .elementor-element.elementor-element-ee87d20
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-8
  .elementor-element.elementor-element-ee87d20
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-8
  .elementor-element.elementor-element-ee87d20
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-8
  .elementor-element.elementor-element-ee87d20
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: #707cd3;
  fill: #707cd3;
}
.elementor-8
  .elementor-element.elementor-element-ee87d20
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item:before,
.elementor-8
  .elementor-element.elementor-element-ee87d20
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item:after {
  background-color: #2435aa;
}
.elementor-8
  .elementor-element.elementor-element-ee87d20
  .e--pointer-framed
  .elementor-item:before,
.elementor-8
  .elementor-element.elementor-element-ee87d20
  .e--pointer-framed
  .elementor-item:after {
  border-color: #2435aa;
}
.elementor-8
  .elementor-element.elementor-element-ee87d20
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: #0810A6;
}
.elementor-8
  .elementor-element.elementor-element-ee87d20
  .e--pointer-framed
  .elementor-item:before {
  border-width: 3px;
}
.elementor-8
  .elementor-element.elementor-element-ee87d20
  .e--pointer-framed.e--animation-draw
  .elementor-item:before {
  border-width: 0 0 3px 3px;
}
.elementor-8
  .elementor-element.elementor-element-ee87d20
  .e--pointer-framed.e--animation-draw
  .elementor-item:after {
  border-width: 3px 3px 0 0;
}
.elementor-8
  .elementor-element.elementor-element-ee87d20
  .e--pointer-framed.e--animation-corners
  .elementor-item:before {
  border-width: 3px 0 0 3px;
}
.elementor-8
  .elementor-element.elementor-element-ee87d20
  .e--pointer-framed.e--animation-corners
  .elementor-item:after {
  border-width: 0 3px 3px 0;
}
.elementor-8
  .elementor-element.elementor-element-ee87d20
  .e--pointer-underline
  .elementor-item:after,
.elementor-8
  .elementor-element.elementor-element-ee87d20
  .e--pointer-overline
  .elementor-item:before,
.elementor-8
  .elementor-element.elementor-element-ee87d20
  .e--pointer-double-line
  .elementor-item:before,
.elementor-8
  .elementor-element.elementor-element-ee87d20
  .e--pointer-double-line
  .elementor-item:after {
  height: 3px;
}
.elementor-8
  .elementor-element.elementor-element-589317b2:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-8
  .elementor-element.elementor-element-589317b2
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://cdn.discordapp.com/attachments/831948935600930828/1212444045054312458/A72599A0-B1F4-4DFA-9FB5-2D3F8CBA447E.jpg?ex=65f1db82&is=65df6682&hm=ce1e9ef641d1bcb563a2d21666e7a93c3e57a2ba91c12b462fde399d5fb81042&");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-8 .elementor-element.elementor-element-589317b2 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 200px 0px 200px 0px;
}
.elementor-8
  .elementor-element.elementor-element-589317b2
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-3d110060
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 20px;
}
.elementor-8
  .elementor-element.elementor-element-68d632ce
  .elementor-heading-title {
  color: #000000;
  font-family: "Sora", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.elementor-8
  .elementor-element.elementor-element-2f54c9d9
  .elementor-heading-title {
  color: #0810A6;
  font-family: "Sora", Sans-serif;
  font-size: 60px;
  font-weight: 900;
}
.elementor-8
  .elementor-element.elementor-element-2f54c9d9
  > .elementor-widget-container {
  margin: -10px 0px 0px 0px;
}
.elementor-8
  .elementor-element.elementor-element-4d3b2845
  .elementor-heading-title {
  font-family: "Sora", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3em;
}
.elementor-8
  .elementor-element.elementor-element-4d3b2845
  > .elementor-widget-container {
  margin: 0px 30px 0px 0px;
}
.elementor-8
  .elementor-element.elementor-element-243dd0a5
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 10px;
}
.elementor-8
  .elementor-element.elementor-element-243dd0a5
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 10px;
}
.elementor-8 .elementor-element.elementor-element-243dd0a5 .elementor-button {
  font-family: "Sora", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  background-color: #0810A6;
  padding: 15px 70px 15px 70px;
}
.elementor-8
  .elementor-element.elementor-element-1d64db9:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-8
  .elementor-element.elementor-element-1d64db9
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0810A6;
}
.elementor-8
  .elementor-element.elementor-element-1d64db9
  > .elementor-background-overlay {
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8 .elementor-element.elementor-element-1d64db9 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 20px 0px 20px 0px;
}
.elementor-bc-flex-widget
  .elementor-8
  .elementor-element.elementor-element-3958a035.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-8
  .elementor-element.elementor-element-3958a035.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-8 .elementor-element.elementor-element-529f3b4 {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-529f3b4
  .elementor-heading-title {
  color: #ffffff;
}
.elementor-8 .elementor-element.elementor-element-5fe80de0 {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-5fe80de0
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Sora", Sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.elementor-8 .elementor-element.elementor-element-74fa5c97 {
  --grid-template-columns: repeat(0, auto);
  --grid-column-gap: 5px;
  --grid-row-gap: 0px;
}
.elementor-8
  .elementor-element.elementor-element-74fa5c97
  .elementor-widget-container {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-74fa5c97
  .elementor-social-icon {
  background-color: #ffffff00;
}
.elementor-8
  .elementor-element.elementor-element-5a2403ae:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-8
  .elementor-element.elementor-element-5a2403ae
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://cdn.discordapp.com/attachments/831948935600930828/1212445006955286618/2_1.jpg?ex=65f1dc67&is=65df6767&hm=84954a8e787a8fee02bd71321b81f3cd4efece260b250576fb13f2492fabdf7f&");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-8 .elementor-element.elementor-element-5a2403ae {
  border-style: none;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}
.elementor-8
  .elementor-element.elementor-element-5a2403ae
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-21c0109c
  .elementor-heading-title {
  color: #0810A6;
  font-family: "Sora", Sans-serif;
  font-size: 50px;
  font-weight: 900;
}
.elementor-8
  .elementor-element.elementor-element-7207db2f
  .elementor-heading-title {
  font-family: "Sora", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3em;
}
.elementor-8
  .elementor-element.elementor-element-7207db2f
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-8
  .elementor-element.elementor-element-34920d64:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-8
  .elementor-element.elementor-element-34920d64
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0810A6;
}
.elementor-8 .elementor-element.elementor-element-34920d64 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}
.elementor-8
  .elementor-element.elementor-element-34920d64
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-3873a496
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 25px;
}
.elementor-8 .elementor-element.elementor-element-15c9a740 {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-15c9a740
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Sora", Sans-serif;
  font-size: 40px;
  font-weight: 600;
}
.elementor-8 .elementor-element.elementor-element-58100506 {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-58100506
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Sora", Sans-serif;
  font-size: 19px;
  font-weight: 300;
}
.elementor-8 .elementor-element.elementor-element-f564f30 {
  --e-image-carousel-slides-to-show: 4;
}
.elementor-8
  .elementor-element.elementor-element-f564f30
  .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  background: #fff9f969;
  opacity: 1;
}
.elementor-8
  .elementor-element.elementor-element-f564f30
  .swiper-pagination-bullet {
  background: #ffffff;
}
.elementor-8
  .elementor-element.elementor-element-72444959:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-8
  .elementor-element.elementor-element-72444959
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-8
  .elementor-element.elementor-element-72444959
  > .elementor-background-overlay {
  opacity: 0.6;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8 .elementor-element.elementor-element-72444959 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}
.elementor-8 .elementor-element.elementor-element-7262f42d {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-7262f42d
  .elementor-heading-title {
  color: #000000;
  font-family: "Sora", Sans-serif;
  font-size: 40px;
  font-weight: 600;
}
.elementor-8
  .elementor-element.elementor-element-2d03d58a:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-8
  .elementor-element.elementor-element-2d03d58a
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0810A6;
}
.elementor-8
  .elementor-element.elementor-element-2d03d58a
  > .elementor-element-populated,
.elementor-8
  .elementor-element.elementor-element-2d03d58a
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-8
  .elementor-element.elementor-element-2d03d58a
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-8
  .elementor-element.elementor-element-2d03d58a
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 30px 30px 30px;
}
.elementor-8
  .elementor-element.elementor-element-2d03d58a
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-64cb84b4
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Sora", Sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.elementor-8
  .elementor-element.elementor-element-4f6b9206:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-8
  .elementor-element.elementor-element-4f6b9206
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0810A6;
}
.elementor-8
  .elementor-element.elementor-element-4f6b9206
  > .elementor-element-populated,
.elementor-8
  .elementor-element.elementor-element-4f6b9206
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-8
  .elementor-element.elementor-element-4f6b9206
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-8
  .elementor-element.elementor-element-4f6b9206
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 30px 30px 30px;
}
.elementor-8
  .elementor-element.elementor-element-4f6b9206
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-22c6d36c
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Sora", Sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.elementor-8
  .elementor-element.elementor-element-56db4582:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-8
  .elementor-element.elementor-element-56db4582
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0810A6;
}
.elementor-8
  .elementor-element.elementor-element-56db4582
  > .elementor-element-populated,
.elementor-8
  .elementor-element.elementor-element-56db4582
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-8
  .elementor-element.elementor-element-56db4582
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-8
  .elementor-element.elementor-element-56db4582
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 30px 30px 30px;
}
.elementor-8
  .elementor-element.elementor-element-56db4582
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-1c26a3aa
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Sora", Sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.elementor-8
  .elementor-element.elementor-element-64949f94:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-8
  .elementor-element.elementor-element-64949f94
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0810A6;
}
.elementor-8
  .elementor-element.elementor-element-64949f94
  > .elementor-element-populated,
.elementor-8
  .elementor-element.elementor-element-64949f94
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-8
  .elementor-element.elementor-element-64949f94
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-8
  .elementor-element.elementor-element-64949f94
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 30px 30px 30px;
}
.elementor-8
  .elementor-element.elementor-element-64949f94
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-3bace88e
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Sora", Sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.elementor-8
  .elementor-element.elementor-element-4d6c3538:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-8
  .elementor-element.elementor-element-4d6c3538
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0810A6;
}
.elementor-8
  .elementor-element.elementor-element-4d6c3538
  > .elementor-element-populated,
.elementor-8
  .elementor-element.elementor-element-4d6c3538
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-8
  .elementor-element.elementor-element-4d6c3538
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-8
  .elementor-element.elementor-element-4d6c3538
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 30px 30px 30px;
}
.elementor-8
  .elementor-element.elementor-element-4d6c3538
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-74712ac8
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Sora", Sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.elementor-8
  .elementor-element.elementor-element-92ed3d4:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-8
  .elementor-element.elementor-element-92ed3d4
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0810A6;
}
.elementor-8
  .elementor-element.elementor-element-92ed3d4
  > .elementor-element-populated,
.elementor-8
  .elementor-element.elementor-element-92ed3d4
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-8
  .elementor-element.elementor-element-92ed3d4
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-8
  .elementor-element.elementor-element-92ed3d4
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 30px 30px 30px;
}
.elementor-8
  .elementor-element.elementor-element-92ed3d4
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-437ece81
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Sora", Sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.elementor-8
  .elementor-element.elementor-element-66cc0ec1:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-8
  .elementor-element.elementor-element-66cc0ec1
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0810A6;
}
.elementor-8
  .elementor-element.elementor-element-66cc0ec1
  > .elementor-element-populated,
.elementor-8
  .elementor-element.elementor-element-66cc0ec1
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-8
  .elementor-element.elementor-element-66cc0ec1
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-8
  .elementor-element.elementor-element-66cc0ec1
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 30px 30px 30px;
}
.elementor-8
  .elementor-element.elementor-element-66cc0ec1
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-68c30f52
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Sora", Sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.elementor-8
  .elementor-element.elementor-element-78ac0865:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-8
  .elementor-element.elementor-element-78ac0865
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0810A6;
}
.elementor-8
  .elementor-element.elementor-element-78ac0865
  > .elementor-element-populated,
.elementor-8
  .elementor-element.elementor-element-78ac0865
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-8
  .elementor-element.elementor-element-78ac0865
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-8
  .elementor-element.elementor-element-78ac0865
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 30px 30px 30px;
}
.elementor-8
  .elementor-element.elementor-element-78ac0865
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-35fee8ad
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Sora", Sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.elementor-8
  .elementor-element.elementor-element-1d4c4568:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-8
  .elementor-element.elementor-element-1d4c4568
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0810A6;
}
.elementor-8
  .elementor-element.elementor-element-1d4c4568
  > .elementor-element-populated,
.elementor-8
  .elementor-element.elementor-element-1d4c4568
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-8
  .elementor-element.elementor-element-1d4c4568
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-8
  .elementor-element.elementor-element-1d4c4568
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 30px 30px 30px;
}
.elementor-8
  .elementor-element.elementor-element-1d4c4568
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-51bac0c5
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Sora", Sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.elementor-8
  .elementor-element.elementor-element-1822356e:not(
    .elementor-motion-effects-element-type-background
  ),

.elementor-8 .elementor-element.elementor-element-1822356e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 150px 0px 150px 0px;
}
.elementor-8
  .elementor-element.elementor-element-1822356e
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8 .elementor-element.elementor-element-679681ce {
  text-align: left;
}
.elementor-8
  .elementor-element.elementor-element-679681ce
  .elementor-heading-title {
  font-family: "Sora", Sans-serif;
  font-size: 40px;
  font-weight: 900;
}
.elementor-8 .elementor-element.elementor-element-5227b8fc {
  text-align: left;
}
.elementor-8
  .elementor-element.elementor-element-5227b8fc
  .elementor-heading-title {
  color: #000000;
  font-family: "Sora", Sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.3em;
}
.elementor-8
  .elementor-element.elementor-element-5227b8fc
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-8
  .elementor-element.elementor-element-771c20b6
  .elementor-field-group {
  padding-right: calc(10px / 2);
  padding-left: calc(10px / 2);
  margin-bottom: 10px;
}
.elementor-8
  .elementor-element.elementor-element-771c20b6
  .elementor-form-fields-wrapper {
  margin-left: calc(-10px / 2);
  margin-right: calc(-10px / 2);
  margin-bottom: -10px;
}
.elementor-8
  .elementor-element.elementor-element-771c20b6
  .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-8
  .elementor-element.elementor-element-771c20b6
  .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl
  .elementor-8
  .elementor-element.elementor-element-771c20b6
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-left: 0px;
}
body:not(.rtl)
  .elementor-8
  .elementor-element.elementor-element-771c20b6
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-right: 0px;
}
body
  .elementor-8
  .elementor-element.elementor-element-771c20b6
  .elementor-labels-above
  .elementor-field-group
  > label {
  padding-bottom: 0px;
}
.elementor-8
  .elementor-element.elementor-element-771c20b6
  .elementor-field-type-html {
  padding-bottom: 0px;
}
.elementor-8
  .elementor-element.elementor-element-771c20b6
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: #ffffff;
}
.elementor-8
  .elementor-element.elementor-element-771c20b6
  .elementor-field-group
  .elementor-select-wrapper
  select {
  background-color: #ffffff;
}
.elementor-8
  .elementor-element.elementor-element-771c20b6
  .e-form__buttons__wrapper__button-next {
  background-color: #0810A6;
  color: #ffffff;
}
.elementor-8
  .elementor-element.elementor-element-771c20b6
  .elementor-button[type="submit"] {
  background-color: #0810A6;
  color: #ffffff;
}
.elementor-8
  .elementor-element.elementor-element-771c20b6
  .elementor-button[type="submit"]
  svg
  * {
  fill: #ffffff;
}
.elementor-8
  .elementor-element.elementor-element-771c20b6
  .e-form__buttons__wrapper__button-previous {
  color: #ffffff;
}
.elementor-8
  .elementor-element.elementor-element-771c20b6
  .e-form__buttons__wrapper__button-next:hover {
  color: #ffffff;
}
.elementor-8
  .elementor-element.elementor-element-771c20b6
  .elementor-button[type="submit"]:hover {
  color: #ffffff;
}
.elementor-8
  .elementor-element.elementor-element-771c20b6
  .elementor-button[type="submit"]:hover
  svg
  * {
  fill: #ffffff;
}
.elementor-8
  .elementor-element.elementor-element-771c20b6
  .e-form__buttons__wrapper__button-previous:hover {
  color: #ffffff;
}
.elementor-8 .elementor-element.elementor-element-771c20b6 {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #ffffff;
  --e-form-steps-indicator-active-secondary-color: #ffffff;
  --e-form-steps-indicator-completed-secondary-color: #ffffff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
.elementor-8
  .elementor-element.elementor-element-771c20b6
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-8
  .elementor-element.elementor-element-10ce511:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-8
  .elementor-element.elementor-element-10ce511
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0810A6;
}
.elementor-8 .elementor-element.elementor-element-10ce511 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 50px 0px;
}
.elementor-8
  .elementor-element.elementor-element-10ce511
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-cd0bc58
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Sora", Sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.elementor-8
  .elementor-element.elementor-element-5a260d1
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(5px / 2);
}
.elementor-8
  .elementor-element.elementor-element-5a260d1
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(5px / 2);
}
.elementor-8
  .elementor-element.elementor-element-5a260d1
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(5px / 2);
  margin-left: calc(5px / 2);
}
.elementor-8
  .elementor-element.elementor-element-5a260d1
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-5px / 2);
  margin-left: calc(-5px / 2);
}
body.rtl
  .elementor-8
  .elementor-element.elementor-element-5a260d1
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-5px / 2);
}
body:not(.rtl)
  .elementor-8
  .elementor-element.elementor-element-5a260d1
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-5px / 2);
}
.elementor-8
  .elementor-element.elementor-element-5a260d1
  .elementor-icon-list-icon
  i {
  color: #ffffff;
  transition: color 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-5a260d1
  .elementor-icon-list-icon
  svg {
  fill: #ffffff;
  transition: fill 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-5a260d1
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  i {
  color: #ffffff;
}
.elementor-8
  .elementor-element.elementor-element-5a260d1
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  svg {
  fill: #ffffff;
}
.elementor-8 .elementor-element.elementor-element-5a260d1 {
  --e-icon-list-icon-size: 12px;
  --icon-vertical-offset: 0px;
}
.elementor-8
  .elementor-element.elementor-element-5a260d1
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-8
  .elementor-element.elementor-element-5a260d1
  .elementor-icon-list-item
  > a {
  font-family: "Sora", Sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.elementor-8
  .elementor-element.elementor-element-5a260d1
  .elementor-icon-list-text {
  color: #ffffff;
  transition: color 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-b441cbf
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Sora", Sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.elementor-8
  .elementor-element.elementor-element-a1cece0
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(5px / 2);
}
.elementor-8
  .elementor-element.elementor-element-a1cece0
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(5px / 2);
}
.elementor-8
  .elementor-element.elementor-element-a1cece0
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(5px / 2);
  margin-left: calc(5px / 2);
}
.elementor-8
  .elementor-element.elementor-element-a1cece0
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-5px / 2);
  margin-left: calc(-5px / 2);
}
body.rtl
  .elementor-8
  .elementor-element.elementor-element-a1cece0
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-5px / 2);
}
body:not(.rtl)
  .elementor-8
  .elementor-element.elementor-element-a1cece0
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-5px / 2);
}
.elementor-8
  .elementor-element.elementor-element-a1cece0
  .elementor-icon-list-icon
  i {
  color: #ffffff;
  transition: color 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-a1cece0
  .elementor-icon-list-icon
  svg {
  fill: #ffffff;
  transition: fill 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-a1cece0
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  i {
  color: #ffffff;
}
.elementor-8
  .elementor-element.elementor-element-a1cece0
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  svg {
  fill: #ffffff;
}
.elementor-8 .elementor-element.elementor-element-a1cece0 {
  --e-icon-list-icon-size: 12px;
  --icon-vertical-offset: 0px;
}
.elementor-8
  .elementor-element.elementor-element-a1cece0
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-8
  .elementor-element.elementor-element-a1cece0
  .elementor-icon-list-item
  > a {
  font-family: "Sora", Sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.elementor-8
  .elementor-element.elementor-element-a1cece0
  .elementor-icon-list-text {
  color: #ffffff;
  transition: color 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-745aa35
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Sora", Sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.elementor-8 .elementor-element.elementor-element-d9764da {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 20px;
  --grid-column-gap: 5px;
  --grid-row-gap: 0px;
}
.elementor-8
  .elementor-element.elementor-element-d9764da
  .elementor-widget-container {
  text-align: left;
}
.elementor-8
  .elementor-element.elementor-element-6501d73d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-8
  .elementor-element.elementor-element-6501d73d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0810A6;
}
.elementor-8 .elementor-element.elementor-element-6501d73d {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #ffffff61;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 10px 10px 10px 10px;
}
.elementor-8
  .elementor-element.elementor-element-6501d73d
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-8
  .elementor-element.elementor-element-4f354d0f.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-8
  .elementor-element.elementor-element-4f354d0f.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-8
  .elementor-element.elementor-element-30bbb81b
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Sora", Sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.elementor-8
  .elementor-element.elementor-element-4d4ebb26
  .elementor-icon-wrapper {
  text-align: right;
}
.elementor-8
  .elementor-element.elementor-element-4d4ebb26.elementor-view-stacked
  .elementor-icon {
  background-color: #ffffff;
}
.elementor-8
  .elementor-element.elementor-element-4d4ebb26.elementor-view-framed
  .elementor-icon,
.elementor-8
  .elementor-element.elementor-element-4d4ebb26.elementor-view-default
  .elementor-icon {
  color: #ffffff;
  border-color: #ffffff;
}
.elementor-8
  .elementor-element.elementor-element-4d4ebb26.elementor-view-framed
  .elementor-icon,
.elementor-8
  .elementor-element.elementor-element-4d4ebb26.elementor-view-default
  .elementor-icon
  svg {
  fill: #ffffff;
}
.elementor-8 .elementor-element.elementor-element-4d4ebb26 .elementor-icon {
  font-size: 25px;
}
.elementor-8 .elementor-element.elementor-element-4d4ebb26 .elementor-icon svg {
  height: 25px;
}
@media (max-width: 767px) {
  .elementor-8 .elementor-element.elementor-element-feca4c0 {
    text-align: center;
  }
  .elementor-8
    .elementor-element.elementor-element-589317b2:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-8
    .elementor-element.elementor-element-589317b2
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-image: url("https://media.discordapp.net/attachments/831948935600930828/1212457105546809374/1-1.jpg?ex=65f1e7ac&is=65df72ac&hm=80a96416e7504943a77b68984f0b531daddd64f53e51f931cb8a5cf00fefcc3b&=&format=webp&width=233&height=468");
  }
  .elementor-8 .elementor-element.elementor-element-589317b2 {
    padding: 30px 10px 400px 10px;
  }
  .elementor-8 .elementor-element.elementor-element-68d632ce {
    text-align: center;
  }
  .elementor-8 .elementor-element.elementor-element-2f54c9d9 {
    text-align: center;
  }
  .elementor-8 .elementor-element.elementor-element-4d3b2845 {
    text-align: center;
  }
  .elementor-8
    .elementor-element.elementor-element-5fe80de0
    .elementor-heading-title {
    line-height: 1.3em;
  }
  
  .elementor-8
    .elementor-element.elementor-element-5a2403ae:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-8
    .elementor-element.elementor-element-5a2403ae
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-image: url("https://media.discordapp.net/attachments/831948935600930828/1212457105831755836/2-2.jpg?ex=65f1e7ac&is=65df72ac&hm=fb2178ac53b8343609f3f3ca6f77a79114c9f468e1f0070622b6a9d60a20b9e2&=&format=webp&width=152&height=468");
  }
  .elementor-8 .elementor-element.elementor-element-5a2403ae {
    padding: 30px 10px 470px 10px;
  }
  .elementor-8 .elementor-element.elementor-element-21c0109c {
    text-align: left;
  }
  .elementor-8
    .elementor-element.elementor-element-21c0109c
    .elementor-heading-title {
    font-size: 42px;
  }
  .elementor-8 .elementor-element.elementor-element-34920d64 {
    padding: 50px 10px 50px 10px;
  }
  .elementor-8
    .elementor-element.elementor-element-15c9a740
    .elementor-heading-title {
    font-size: 37px;
    line-height: 1.3em;
  }
  .elementor-8 .elementor-element.elementor-element-f564f30 {
    --e-image-carousel-slides-to-show: 2;
  }
  .elementor-8 .elementor-element.elementor-element-72444959 {
    padding: 50px 10px 50px 10px;
  }
  .elementor-8
    .elementor-element.elementor-element-1822356e:not(
      .elementor-motion-effects-element-type-background
    ),

  .elementor-8 .elementor-element.elementor-element-1822356e {
    padding: 30px 10px 430px 10px;
  }
  .elementor-8 .elementor-element.elementor-element-679681ce {
    text-align: center;
  }
  .elementor-8
    .elementor-element.elementor-element-679681ce
    .elementor-heading-title {
    font-size: 38px;
  }
  .elementor-8 .elementor-element.elementor-element-5227b8fc {
    text-align: center;
  }
  .elementor-8 .elementor-element.elementor-element-10ce511 {
    padding: 30px 10px 30px 10px;
  }
  .elementor-8 .elementor-element.elementor-element-4f354d0f {
    width: 90%;
  }
  .elementor-8 .elementor-element.elementor-element-30bbb81b {
    text-align: left;
  }
  .elementor-8
    .elementor-element.elementor-element-30bbb81b
    .elementor-heading-title {
    font-size: 12px;
  }
  .elementor-8 .elementor-element.elementor-element-584c36bd {
    width: 10%;
  }
}
@media (min-width: 768px) {
  .elementor-8 .elementor-element.elementor-element-7d4be2b1 {
    width: 24.014%;
  }
  .elementor-8 .elementor-element.elementor-element-4b3646d2 {
    width: 75.986%;
  }
} /* Start custom CSS for button, class: .elementor-element-243dd0a5 */
.elementor-8
  .elementor-element.elementor-element-243dd0a5
  .elementor-button-icon
  i:before {
  font-size: 13px;
  vertical-align: middle;
}

.elementor-button-content-wrapper {
  align-items: center;
} /* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-2d03d58a */
.elementor-8 .elementor-element.elementor-element-2d03d58a {
  backdrop-filter: blur(06px);
  -webkit-backdrop-filter: blur(06px);
  margin: 10px;
} /* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-4f6b9206 */
.elementor-8 .elementor-element.elementor-element-4f6b9206 {
  backdrop-filter: blur(06px);
  -webkit-backdrop-filter: blur(06px);
  margin: 10px;
} /* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-56db4582 */
.elementor-8 .elementor-element.elementor-element-56db4582 {
  backdrop-filter: blur(06px);
  -webkit-backdrop-filter: blur(06px);
  margin: 10px;
} /* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-64949f94 */
.elementor-8 .elementor-element.elementor-element-64949f94 {
  backdrop-filter: blur(06px);
  -webkit-backdrop-filter: blur(06px);
  margin: 10px;
} /* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-4d6c3538 */
.elementor-8 .elementor-element.elementor-element-4d6c3538 {
  backdrop-filter: blur(06px);
  -webkit-backdrop-filter: blur(06px);
  margin: 10px;
} /* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-92ed3d4 */
.elementor-8 .elementor-element.elementor-element-92ed3d4 {
  backdrop-filter: blur(06px);
  -webkit-backdrop-filter: blur(06px);
  margin: 10px;
} /* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-66cc0ec1 */
.elementor-8 .elementor-element.elementor-element-66cc0ec1 {
  backdrop-filter: blur(06px);
  -webkit-backdrop-filter: blur(06px);
  margin: 10px;
} /* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-78ac0865 */
.elementor-8 .elementor-element.elementor-element-78ac0865 {
  backdrop-filter: blur(06px);
  -webkit-backdrop-filter: blur(06px);
  margin: 10px;
} /* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-1d4c4568 */
.elementor-8 .elementor-element.elementor-element-1d4c4568 {
  backdrop-filter: blur(06px);
  -webkit-backdrop-filter: blur(06px);
  margin: 10px;
} /* End custom CSS */
